form{
	background-image: url("background.jpg"); ;
	margin: auto;
	width: 50%;
}

div label{padding: 10px;}

body{ font-family: arial, verdana, sans serif; }

h1{ text-align: center; }

input[type="text"]{
	width: 100%;
	height: 30px;
}

button{
	width: 100px;
	height: 40px;
	background-color: #DCDCDC;
}
